{% extends "generics/base.html" %}

{% block head %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "solicitantes/css/inicio_solicitante.css" %}">
    <script src="{% static "solicitantes/js/app.js" %}"></script>

{% endblock %}

{% block body %}

    <div class="row" ng-controller="SolicitanteController as solicitanteCtrl">
        <div class="col-md-8">
            {% include "solicitudes/solicitud.html" %}
        </div>
        <div class="col-md-4">
            {% include "solicitudes/crear_solicitud.html" %}
        </div>
    </div>

{% endblock %}