<h2>Nuevo producto</h2>
<hr>
<form name="productoForm"
method="post"
ng-submit="codificadorCtrl.submit()"
novalidate>
    {% csrf_token %}
    {% verbatim %}
    <div class="form-group">
        <label for="productoNombre">
            Nombre
        </label>
        <input type="text"
        class="form-control"
        id="productoNombre"
        placeholder="Nombre"
        maxlength="25"
        required
        ng-model="codificadorCtrl.producto.nombre">
    </div>
    <div class="form-group">
        <label for="productoOnu">
            Codigo ONU
        </label>
        <input type="text"
        class="form-control"
        id="productoOnu"
        placeholder="Codigo ONU"
        maxlength="15"
        required
        ng-model="codificadorCtrl.producto.onu">
    </div>
    <div class="form-group">
        <label for="productoDescripcion">
            Descripcion
        </label>
        <textarea placeholder="Ingrese la descripcion del producto..."
        class="form-control"
        id="productoDescripcion"
        required
        ng-model="codificadorCtrl.producto.descripcion"></textarea>
    </div>
    <div class="form-group">
        <label for="productoReferencia">
            Referencia
        </label>
        <input type="text"
        class="form-control"
        id="productoReferencia"
        placeholder="Referencia"
        maxlength="15"
        required
        ng-model="codificadorCtrl.producto.referencia">
    </div>
    <div class="form-group">
        <label for="productoMarca">Marca</label>
        <input type="text" class="form-control"
        id="productoMarca"
        placeholder="Marca" maxlength="15"
        required ng-model="codificadorCtrl.producto.marca">
    </div>
    <div class="form-group">
        <label for="productoServicio">Es servicio?</label>
        <select data-placeholder="Es servicio?"
        class="form-control select"
        id="productoServicio"
        required
        ng-model="codificadorCtrl.producto.servicio"
        chosen="codificadorCtrl.servicio"
        ng-options="item for item in codificadorCtrl.servicio">
        </select>
    </div>
    <div class="form-group">
        <label for="productoFamilia">Familia proveedor</label>
        <select data-placeholder="Seleccione familia proveedor"
        class="form-control select"
        id="productoFamilia"
        required
        ng-model="codificadorCtrl.producto.familia"
        chosen="codificadorCtrl.familias"
        ng-options="familia.nombre for familia in codificadorCtrl.familias">
        </select>
    </div>
    <input type="submit"
    ng-disabled="productoForm.$valid"
    class="btn btn-default"
    value="Crear producto">
    {% endverbatim %}
</form>