.form-signin {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#nuevo_producto {
	opacity:0.92;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#nuevo_lugar {
	opacity:0.92;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;	
}

#lugar {
	width:350px;
	margin:0px;
	background-color:white;
	font-family: 'Fauna One', serif;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-158px;
}

#producto {
	width:350px;
	margin:0px;
	background-color:white;
	font-family: 'Fauna One', serif;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-158px;
}