<!Doctype html>
{% verbatim %}
<html ng-app='Admingeneral'>
<head>
	<!-- Some meta headers -->

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta name='description' content='Compras 10.0 official website'>
	<meta name='author' content='Reactive'>

	<!-- Some CSS imports -->

	{% endverbatim %}
	{% load staticfiles %}
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css'>
	<link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>

	<!-- Some JS scripts -->

	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js'></script>
	<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
	<script src='{% static 'usuarios/js/admingeneral.js' %}'></script>
	{% verbatim %}
	<title>
		Administrador
	</title>
</head>

<body>
	<div ng-controller='tabController as tabCtrl'>
		<div id='menu'>
			<ul>
				<li>
					<a href ng-click='tabCtrl.setTab(1)'>crear usuario</a>
				</li>
			</ul>
		</div>
		<div>
			<div id='crear-usuario' ng-show='tabCtrl.isTab(1)'>
				<h2>Crear Usuario</h2>
				<form ng-controller='crearUsuarioController as crearUsuarioCtrl'>
					<label for='crear-usuario-usuario'>usuario</label>
					<input type='text' id='crear.usuario.usuario' ng-model='crearUsuarioCtrl.usuario.nombre'>
					

					<label for='crear-usuario-password'>contraseña</label>
					<input type='password' id='crear-usuario-password' ng-model='crearUsuarioCtrl.usuario.password'>

					<label for='crear-usuario-repeat'>repetir contraseña</label>
					<input type='password' id='crear-usuario-repeat' ng-model='crearUsuarioCtrl.password'>
					<p ng-show='crearUsuarioCtrl.password != crearUsuarioCtrl.usuario.password'>las contraseñas no coiciden</p>

					<label for='crear-usuario-cliente'>cliente</label>
					<select id='crear-usuario-cliente' ng-model='crearUsuarioCtrl.cliente' ng-options='cliente.razon for cliente in crearUsuarioCtrl.clientes'></select>

					<label for='crear-usuario-tipo'>tipo</label>
					<select id='crear-usuario-tipo' ng-model='crearUsuarioCtrl.tipo' ng-options='tipo.nombre for tipo in crearUsuarioCtrl.tipos'></select>

					<div>
						<h3>informacion adicional</h3>
						<label for='crear-usuario-nombre'>nombre
						</label>
						<input type='text' id='crear-usuario-nombre' ng-model='crearUsuarioCtrl.usuario.contacto.nombre'>

						<label for='crear-usuario-apellido'>apellido
						</label>
						<input type='text' id='crear-usuario-apellido' ng-model='crearUsuarioCtrl.usuario.contacto.apellido'>

						<label for='crear-usuario-telefono'>telefono
						</label>
						<input type='text' id='crear-usuario-telefono' ng-model='crearUsuarioCtrl.usuario.contacto.telefono'>

						<label for='crear-usuario-extension'>extension
						</label>
						<input type='text' id='crear-usuario-extension' ng-model='crearUsuarioCtrl.usuario.contacto.extension'>

						<label for='crear-usuario-celular'>celular
						</label>
						<input type='text' id='crear-usuario-celular' ng-model='crearUsuarioCtrl.usuario.contacto.celular'>

						<label for='crear-usuario-email'>email
						</label>
						<input type='email' id='crear-usuario-email' ng-model='crearUsuarioCtrl.usuario.contacto.email'>

						<label for='crear-usuario-cargo'>cargo
						</label>
						<input type='text' id='crear-usuario-cargo' ng-model='crearUsuarioCtrl.usuario.contacto.cargo'>

						<label for='crear-usuario-perfil'>perfil
						</label>
						<input type='text' id='crear-usuario-perfil' ng-model='crearUsuarioCtrl.usuario.contacto.perfil' >
					</div>
					<p>{{crearUsuarioCtrl.i}}</p>
					<button ng-click='crearUsuarioCtrl.crearUsuario()'>crear usuario</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
{% endverbatim %}