{% verbatim %}
<!doctype html>
<html ng-app='Comprador'>
<head>

	<!-- Some meta headers -->

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta name='description' content='Compras 10.0 official website'>
	<meta name='author' content='Reactive'>

	<!-- Some CSS imports -->

	{% endverbatim %}
	{% load staticfiles %}
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css'>
	<link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
	<link rel='stylesheet' href='{% static 'usuarios/css/comprador.css' %}'>

	<!-- Some JS scripts -->

	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js'></script>
	<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
	<script src='{% static 'usuarios/js/comprador.js' %}'></script>
	{% verbatim %}

	<!-- The page title -->

	<title>Bienvenido comprador</title>
</head>
<body ng-controller='mainTabController as mainTabCtrl'>

	<!-- Full container -->

	<div class='container-fluid'>

		<!-- Banner -->

		<div class='row' id='banner'>
			<h1>Bienvenido comprador</h1>
		</div>

		<!-- Container -->

		<div class='container'>

			<!-- Separator -->

			<div class='row'>
				<hr class='col-md-11'>
			</div>

			<!-- Content -->

			<div class='row'>

				<!-- Nav pills -->

				<div class='col-md-3' id='menu' ng-controller='menuTabController as menuTabCtrl'>
					<div class='panel panel-default col-md-11'>
						<div class='panel-body'>
							<h3>Opciones</h3>
							<hr>
							<ul class='nav nav-pills nav-stacked'>
								<li ng-class='menuTabCtrl.isTab(1) ? "active" : ""'>
									<a href ng-click='menuTabCtrl.setTab(1)'>
										Proveedores
									</a>
									<ul class='nav nav-pills nav-stacked' ng-show='menuTabCtrl.isTab(1)'>
										<li ng-class='mainTabCtrl.isTab(1) ? "active" : ""'>
											<a href ng-click='mainTabCtrl.setTab(1)'>
												Nuevo Proveedor
											</a>
										</li>
										<li ng-class='mainTabCtrl.isTab(2) ? "active" : ""'>
											<a href ng-click='mainTabCtrl.setTab(2)'>
												Actualizar Proveedor
											</a>
										</li>
									</ul>
								</li>

								<li ng-class='menuTabCtrl.isTab(2) ? "active" : ""'>
									<a href ng-click='menuTabCtrl.setTab(2)'>
										Contactos
									</a>
									<ul class='nav nav-pills nav-stacked' ng-show='menuTabCtrl.isTab(2)'>
										<li ng-class='mainTabCtrl.isTab(3) ? "active" : ""'>
											<a href ng-click='mainTabCtrl.setTab(3)'>
												Nuevo Contacto
											</a>
										</li>
										<li ng-class='mainTabCtrl.isTab(4) ? "active" : ""'>
											<a href ng-click='mainTabCtrl.setTab(4)'>
												Modificar Contacto
											</a>
										</li>
									</ul>
								</li>

								<li ng-class='mainTabCtrl.isTab(5) ? "active" : ""'>
									<a href ng-click='mainTabCtrl.setTab(5) ; menuTabCtrl.setTab(0)'>
										Solicitudes Pendientes
									</a>
								</li>

								<li ng-class='mainTabCtrl.isTab(6) ? "active" : ""'>
									<a href ng-click='mainTabCtrl.setTab(6) ; menuTabCtrl.setTab(0)'>
										Ordenes de Compra
									</a>
								</li>

								<li ng-class='mainTabCtrl.isTab(7) ? "active" : ""'>
									<a href ng-click='mainTabCtrl.setTab(7) ; menuTabCtrl.setTab(0)'>
										Realizar Cotizacion
									</a>
								</li>

								<li ng-class='mainTabCtrl.isTab(8) ? "active" : ""'>
									<a href ng-click='mainTabCtrl.setTab(8) ; menuTabCtrl.setTab(0)'>
										Ingresar Cotizacion
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Main view -->

				<div id='main' class='col-md-9' ng-controller='mainController as mainCtrl'>
					<!-- Crear proveedor -->

					<div ng-show='mainTabCtrl.isTab(1)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h4>Crear un nuevo proveedor</h4>
								<hr>
								<form name='crearProveedorForm' novalidate>
									{% endverbatim %}{% csrf_token %}{% verbatim %}

									<!-- Messages -->

									<div ng-class='message.css' ng-show='message.message != ""'>
										<p>{{ message.message }}</p>                        
									</div>
									<div ng-show='!mainCtrl.crearProveedorForm.error'>
										<p>{{mainCtrl.crearProveedorForm.error}}</p>
									</div>
									<!-- Fields -->

									<div class='form-group'>
										<label for='razonProveedor'>Razon social *</label>
										<input type='text' class='form-control' id='razonProveedor' placeholder='Razon social' ng-model='mainCtrl.crearProveedorForm.razon_social' required>
									</div>

									<div class='form-group'>
										<label for='siglaProveedor'>Sigla *</label>
										<input type='text' class='form-control' id='siglaProveedor' placeholder='Sigla' ng-model='mainCtrl.crearProveedorForm.sigla' required>
									</div>

									<div class='form-group'>
										<label for='nitProveedor'>NIT *</label>
										<input type='text' class='form-control' id='nitProveedor' placeholder='NIT' ng-model='mainCtrl.crearProveedorForm.nit' required>
									</div>

									<div class='form-group'>
										<label for='verificacionProveedor'>Numero de verificacion *</label>
										<input type='text' class='form-control' id='verificacionProveedor' placeholder='Numero de verificacion' ng-model='mainCtrl.crearProveedorForm.numero_verificacion' required>
									</div>

									<div class='form-group'>
										<label for='lugarProveedor'>Lugar *</label>
										<input type='text' class='form-control' id='lugarProveedor' placeholder='Lugar' ng-model='mainCtrl.crearProveedorForm.lugar' required>
									</div>

									<div class='form-group'>
										<label for='logoProveedor'>Logo *</label>
										<input type='file' id='logoProveedor' ng-model='mainCtrl.crearProveedorForm.logo'>
									</div>

									<button class='btn btn-default' ng-click='mainCtrl.crearProveedor()' ng-disabled='!crearProveedorForm.$valid'>
										Crear proveedor
									</button>
									<span>Asegurese de llenar todos los campos marcados con *</span>
								</form>
							</div>
						</div>
					</div>

					<!-- Actualizar proveedor -->

					<div ng-show='mainTabCtrl.isTab(2)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h4>Actualizar proveedor</h4>
								<hr>
								<form name='actualizarProveedorForm' novalidate>
									{% endverbatim %}{% csrf_token %}{% verbatim %}

									<!-- Messages -->

									<div ng-class='message.css' ng-show='message.message != ""'>
										<p>{{ message.message }}</p>                        
									</div>

									<!-- Fields -->

									<div class='form-group'>
										<label for='proveedorAP'>Proveedor *</label>
										<select class='form-control' id='proveedorAP' ng-model='mainCtrl.actualizarProveedorForm.proveedor' ng-options='proveedor.razon_social for proveedor in mainCtrl.proveedores' ng-change='mainCtrl.getProveedor()' required></select>
									</div>

									<div class='form-group'>
										<label for='razonAP'>Razon social *</label>
										<input type='text' class='form-control' id='razonAP' placeholder='Razon social' ng-model='mainCtrl.actualizarProveedorForm.razon_social' required>
									</div>

									<div class='form-group'>
										<label for='siglaAP'>Sigla *</label>
										<input type='text' class='form-control' id='siglaAP' placeholder='Sigla' ng-model='mainCtrl.actualizarProveedorForm.sigla' required>
									</div>

									<div class='form-group'>
										<label for='nitAP'>NIT *</label>
										<input type='text' class='form-control' id='nitAP' placeholder='NIT' ng-model='mainCtrl.actualizarProveedorForm.nit' required>
									</div>

									<div class='form-group'>
										<label for='direccionAP'>Direccion *</label>
										<input type='text' class='form-control' id='direccionAP' placeholder='Direccion' ng-model='mainCtrl.actualizarProveedorForm.lugar' required>
									</div>

									<div class='form-group'>
										<label for='logoAP'>Logo *</label>
										<input type='file' id='logoAP' ng-model='mainCtrl.actualizarProveedorForm.logo'>
									</div>

									<button class='btn btn-default' ng-click='mainCtrl.actualizarProveedor()' ng-disabled='!actualizarProveedorForm.$valid'>
										Actualizar proveedor
									</button>
									<span>Asegurese de llenar todos los campos marcados con *</span>
								</form>
							</div>
						</div>
					</div>

					<!-- Crear contacto -->

					<div ng-show='mainTabCtrl.isTab(3)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h4>Crear Nuevo Contacto</h4>
								<hr>
								<form name='crearContactoForm' novalidate>
									{% endverbatim %}{% csrf_token %}{% verbatim %}

									<!-- Messages -->

									<div ng-class='message.css' ng-show='message.message != ""'>
										<p>{{ message.message }}</p>                        
									</div>

									<!-- Fields -->

									<div class='form-group'>
										<label for='proveedorNC'>Proveedor *</label>
										<select class='form-control' id='proveedorNC' ng-options='proveedor.razon_social for proveedor in mainCtrl.proveedores' ng-model='mainCtrl.crearContactoForm.proveedor' required></select>
									</div>

									<div class='form-group'>
										<label for='familiaNC'>Familia Proveedor *</label>
										<select class='form-control' id='familiaNC' ng-options='familiaProveedor for familiaProveedor in mainCtrl.familiasProveedor' ng-model='mainCtrl.crearContactoForm.familiaProveedor' required></select>
									</div>

									<div class='form-group'>
										<label for='nombresNC'>Nombres *</label>
										<input type='text' class='form-control' id='nombresNC' placeholder='Nombres' ng-model='mainCtrl.crearContactoForm.nombre' required>
									</div>

									<div class='form-group'>
										<label for='apellidosNC'>Apellidos *</label>
										<input type='text' class='form-control' id='apellidosNC' placeholder='Apellidos' ng-model='mainCtrl.crearContactoForm.apellido' required>
									</div>

									<div class='form-group'>
										<label>Telefono fijo *</label>
									</div>

									<div class='form-group col-md-4'>
										<label for='extensionNC'>Extension *</label>
										<input type='number' class='form-control' id='extensionNC' placeholder='Extension' ng-model='mainCtrl.crearContactoForm.extension' required>
									</div>

									<div class='form-group col-md-8'>
										<label for='telefonoNC'>Numero *</label>
										<input type='number' class='form-control' id='telefonoNC' placeholder='Numero' ng-model='mainCtrl.crearContactoForm.telefono_fijo' required>
									</div>

									<div class='form-group'>
										<label for='celularNC'>Celular *</label>
										<input type='number' class='form-control' id='celularNC' placeholder='Celular' ng-model='mainCtrl.crearContactoForm.celular' required>
									</div>

									<div class='form-group'>
										<label for='correoNC'>Correo *</label>
										<input type='email' class='form-control' id='correoNC' placeholder='Correo' ng-model='mainCtrl.crearContactoForm.correo' required>
									</div>

									<div class='form-group'>
										<label for='cargoNC'>Cargo *</label>
										<input type='text' class='form-control' id='cargoNC' placeholder='Cargo' ng-model='mainCtrl.crearContactoForm.cargo' required>
									</div>

									<div class='form-group'>
										<label for='perfilNC'>Perfil *</label>
										<input type='text' class='form-control' id='perfilNC' placeholder='Perfil' ng-model='mainCtrl.crearContactoForm.perfil' required>
									</div>

									<button class='btn btn-default' ng-click='mainCtrl.crearContacto()' ng-disabled='!crearContactoForm.$valid'>
										Actualizar proveedor
									</button>
									<span>Asegurese de llenar todos los campos marcados con *</span>
								</form>
							</div>
						</div>
					</div>

					<!-- Actualizar contacto -->

					<div ng-show='mainTabCtrl.isTab(4)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h4>Actualizar Contacto</h4>
								<hr>
								<form name='actualizarContactoForm'>
									{% endverbatim %}{% csrf_token %}{% verbatim %}

									<!-- Messages -->

									<div ng-class='message.css' ng-show='message.message != ""'>
										<p>{{ message.message }}</p>                        
									</div>

									<!-- Fields -->

									<div class='form-group'>
										<label for='contactoAC'>Contacto *</label>
										<select class='form-control' id='contactoAC' ng-model='mainCtrl.actualizarContactoForm.contacto' ng-options='contacto.nombre for contacto in mainCtrl.contactos' ng-change='mainCtrl.getContacto()' required></select>
									</div>

									<div class='form-group'>
										<label for='proveedorAC'>Proveedor *</label>
										<select class='form-control' id='proveedorAC' ng-options='proveedor.razon_social for proveedor in mainCtrl.proveedores' ng-model='mainCtrl.actualizarContactoForm.proveedor' required></select>
									</div>

									<div class='form-group'>
										<label for='familiaAC'>Familia proveedor *</label>
										<select class='form-control' id='familiaAC' ng-options='familiaProveedor for familiaProveedor in mainCtrl.familiasProveedor' ng-model='mainCtrl.actualizarContactoForm.familiaProveedor' required></select>
									</div>

									<div class='form-group'>
										<label for='nombresAC'>Nombres *</label>
										<input type='text' class='form-control' id='nombresAC' placeholder='Nombres' ng-model='mainCtrl.actualizarContactoForm.nombre' required>
									</div>

									<div class='form-group'>
										<label for='apellidosAC'>Apellidos *</label>
										<input type='text' class='form-control' id='apellidosAC' placeholder='Apellidos' ng-model='mainCtrl.actualizarContactoForm.apellido' required>
									</div>

									<div class='form-group'>
										<label>Telefono Fijo *</label>
									</div>

									<div class='form-group col-md-4'>
										<label for='extensionAC'>Extension *</label>
										<input type='number' class='form-control' id='extensionAC' placeholder='Extension' ng-model='mainCtrl.actualizarContactoForm.extension' required>
									</div>

									<div class='form-group col-md-8'>
										<label for='telefonoAC'>Numero *</label>
										<input type='number' class='form-control' id='telefonoAC' placeholder='Numero' ng-model='mainCtrl.actualizarContactoForm.telefono_fijo' required>
									</div>

									<div class='form-group'>
										<label for='celularAC'>Celular *</label>
										<input type='number' class='form-control' id='celularAC' placeholder='Celular' ng-model='mainCtrl.actualizarContactoForm.celular' required>
									</div>

									<div class='form-group'>
										<label for='correoAC'>Correo *</label>
										<input type='email' class='form-control' id='correoAC' placeholder='Correo' ng-model='mainCtrl.actualizarContactoForm.correo' required>
									</div>

									<div class='form-group'>
										<label for='cargoAC'>Cargo *</label>
										<input type='text' class='form-control' id='cargoAC' placeholder='Cargo' ng-model='mainCtrl.actualizarContactoForm.cargo' required>
									</div>

									<div class='form-group'>
										<label for='perfilAC'>Perfil *</label>
										<input type='text' class='form-control' id='perfilAC' placeholder='Perfil' ng-model='mainCtrl.actualizarContactoForm.perfil' required>
									</div>

									<button class='btn btn-default' ng-click='mainCtrl.actualizarContacto()' ng-disabled='!actualizarContactoForm.$valid'>
										Actualizar contacto
									</button>
									<span>Asegurese de llenar todos los campos marcados con *</span>
								</form>
							</div>
						</div>
					</div>

					<!-- Solicitudes -->

					<div id='solicitudes' ng-show='mainTabCtrl.isTab(5)'>
						<h3>Solicitudes Pendientes</h3>
						<div class='panel panel-default col-md-11' ng-repeat='solicitud in mainCtrl.solicitudes'>
							<div class='panel-body'>
								<div class='col-md-6'>
									<p><strong>Lugar:</strong> {{ solicitud.lugar }}</p>
									<p><strong>Proyecto:</strong> {{ solicitud.proyecto }}</p>
									<p><strong>Fecha:</strong> {{ solicitud.fecha }}</p>
									<p><strong>Estado:</strong> {{ solicitud.estado }}</p>
									<strong>Comentarios:</strong>
									<p ng-show='solicitud.comentario != null'>{{ solicitud.comentario }}</p>
								</div>

								<div class='col-md-6'>
									<strong>Productos</strong>
									<p ng-repeat='productoXSolicitud in solicitud.productoXSolicitud'>
										<span class='glyphicon glyphicon-record'></span>
										{{ productoXSolicitud.producto.nombre }} ({{ productoXSolicitud.cantidad }} {{ productoXSolicitud.producto.unidad.nombre }} ) {{productoXSolicitud.estado}}
									</p>
								</div>

								<button class='btn btn-default' ng-click='mainTabCtrl.setTab(9); mainCtrl.cotizarSolicitud(solicitud)'>
									Realizar Cotizacion
								</button>
							</div>
						</div>
					</div>

					<!-- Ordenes de compra -->

					<div id='ordenesdecompra' ng-show='mainTabCtrl.isTab(6)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h3>Ordenes de compra</h3>
								<hr>
							</div>
						</div>
					</div>

					<!-- Cotizar -->

					<div id='cotizar' ng-show='mainTabCtrl.isTab(7)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h3>Realizar cotizacion</h3>
								<hr>
								<form name='realizarCotizacion' ng-controller='realizarCotizacionController as realizarCotizacionCtrl' novalidate>
									{% endverbatim %}{% csrf_token %}{% verbatim %}

									<!-- Messages -->

									<div ng-class='message.css' ng-show='message.message != ""'>
										<p>{{ message.message }}</p>                        
									</div>

									<!-- Fields -->

									<div class='form-group'>
										<label for='productoCotizacion'>Producto * </label>
										<select class='form-control' id='productoCotizacion' ng-model='mainCtrl.realizarCotizacion.producto' ng-options='producto.nombre for producto in mainCtrl.productos' required></select>
									</div>

									<div class='form-group'>
										<label for='productoCotizacion'>Unidad * </label>
										<select class='form-control' id='unidadCotizacion' ng-model='mainCtrl.realizarCotizacion.unidad' ng-options='unidad for unidad in mainCtrl.realizarCotizacion.producto.unidades' required></select>
									</div>

									<div class='form-group'>
										<label for='proveedorCotizacion'>Insertar Proveedor</label>
										<select class='form-control' id='proveedorCotizacion' ng-model='realizarCotizacionCtrl.proveedor' ng-options='proveedor.razon_social for proveedor in realizarCotizacionCtrl.proveedores' ng-change='realizarCotizacionCtrl.insertarProveedor(); mainCtrl.insertarProveedorRealizarCotizacion(realizarCotizacionCtrl.proveedor)'></select>
									</div>

									<div ng-repeat='proveedor in mainCtrl.realizarCotizacion.proveedores'>
										<div class='form-group'>
											<p>{{ proveedor.razon_social }}</p>
											<button class='btn btn-default' ng-click='mainCtrl.quitarProveedorRealizarCotizacion(proveedor); realizarCotizacionCtrl.quitarProveedor(proveedor)'>
												Eliminar
											</button>
										</div>
									</div>

									<button class='btn btn-default' ng-click='realizarCotizacionCtrl.clean(); mainCtrl.cleanRealizarCotizacion()'>
										Realizar Cotizacion
									</button>
								</form>
							</div>
						</div>
					</div>

					<!-- Ingresar cotizacion -->

					<div id='ingresarcotizacion' ng-show='mainTabCtrl.isTab(8)'>
						<div class='panel panel-default col-md-11'>
							<div class='panel-body'>
								<h3>Ingresar Cotizacion</h3>
								<hr>
							</div>
						</div>
					</div>

					<!-- CotizarXSolicitud -->

					<div id='realizarCotizacionXSolicitud' ng-controller='cotizarSolicitudController as cotizarSolicitudCtrl' ng-show='mainTabCtrl.isTab(9)'>
						<h2>Cotizar Solicitud</h2>
						<h3>{{cotizarSolicitudCtrl.cotizaciones.length}}</h3>
						<div class='panel panel-default col-md-11' ng-repeat='cotizacion in cotizarSolicitudCtrl.cotizaciones'>
							<div class='panel-body'>
								<h3>{{cotizacion.productoXSolicitud.producto.nombre}}</h3>
								<h4>{{cotizacion.productoXSolicitud.producto.familiaProveedor}}</h4>
								<hr>
								<form name='cotizarXSolicitudForm' novalidate>
									<label for='realizarCotizacionXSolicitudNuevoContacto'ng-model='cotizacion.nuevoContacto'>Insertar Contacto</label>
									<select id = 'realizarCotizacionXSolicitudNuevoContacto'ng-model='cotizacion.nuevoContacto' ng-options='contacto.nombre+" ("+contacto.familiaProveedor+")" group by contacto.proveedor.razon_social for contacto in mainCtrl.contactos' ng-change='mainCtrl.insertarContactoRealizarCotizacionXSolicitud(cotizacion)'></select>
									<div ng-repeat='contacto in cotizacion.contactos'>
										<p><strong>Razon social:</strong> {{ contacto.proveedor.razon_social }}</p>
										<p><strong>Contacto:</strong> {{ contacto.nombre }} {{ contacto.apellido }}</p>
										<button class='btn btn-default' ng-click='cotizarSolicitudCtrl.quitarContacto(cotizacion,contacto)'>
											Eliminar contacto
										</button>
										<hr ng-hide='contacto == cotizacion.contactos[cotizacion.contactos.length-1]'>
									</div>
									<hr>
									<button class='btn btn-default' ng-click='cotizarSolicitudCtrl.realizarCotizacion(cotizacion)'>
										Realizar Cotizacion
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Separator -->
			
			<div class='row'>
				<hr class='col-md-11'>
			</div>

			<!-- Footer -->

			<div class='row' id='footer'>
				<h4>
					<span class='glyphicon glyphicon-copyright-mark'></span>
					Copyright 2014
				</h4>
			</div>
		</div>
	</div>
</body>
</html>
{% endverbatim %}
