{% verbatim %}
<!doctype html>
<html ng-app="app" ng-controller="MasterController">
<head>

    <!-- Some meta headers -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compras 10.0 official website">
    <meta name="author" content="Reactive">

    <!-- Some CSS imports -->

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lovers+Quarrel'>
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">

    <!-- Some CSS style -->

    <style>
        #banner h1 {
            text-align: center;
        }

        #formPillows li {
            padding: 0 2%;
        }

        #footer h4 {
            text-align: center;
        }
    </style>

    <!-- The page title -->

    <title>{{ langs.title }}</title>
</head>
<body>

    <div class="container-fluid">

        <!-- Banner -->

        <div class="row" id="banner">
            <h1>
                {{ langs.banner }}
            </h1>
        </div>

        <!-- Container -->

        <div class="container">

            <!-- Separator -->

            <div class="row">
                <span class="col-md-3"></span>
                <hr class="col-md-6">
                <span class="col-md-3"></span>
            </div>

            <!-- Main content -->

            <div class="row">

                <!-- Solicitudes -->

                <div class="col-md-8" id="solicitudes">
                    <!-- TODO -->
                </div>

                <!-- Forms -->

                <div class="col-md-4" id="forms">

                    <!-- Form pillows -->

                    <ul id="formPillows" class="nav nav-tabs">
                        <li ng-class="formPillows.solicitud"><a ng-click="setFormType('solicitud')">{{ langs.formPillows.solicitud }}</a></li>
                        <li ng-class="formPillows.producto"><a ng-click="setFormType('producto')">{{ langs.formPillows.producto }}</a></li>
                        <li ng-class="formPillows.lugar"><a ng-click="setFormType('lugar')">{{ langs.formPillows.lugar }}</a></li>
                    </ul>

                    <!-- Blank line -->

                    <div class="row">
                        <br>
                    </div>

                    <!-- Solicitud form -->

                    <div id="solicitudForm" ng-show="formType == 'solicitud'">
                        <form name="solicitudForm" novalidate>
                            {% endverbatim %}{% csrf_token %}{% verbatim %}
                            <pre ng-class="langs.solicitudForm.warning.css" ng-show="langs.solicitudForm.warning.message != ''">{{ langs.solicitudForm.warning.message }}</pre>
                            <div class="form-group">
                                <label for="lugarSolicitud">{{ langs.solicitudForm.lugar }}</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="setFormType('lugar')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                    <select class="form-control" id="lugarSolicitud" ng-options="option.id as option.telefono for option in opcionesLugares" ng-model="solicitudForm.lugar" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="proyectoSolicitud">{{ langs.solicitudForm.proyecto }}</label>
                                <input type="text" class="form-control" id="proyectoSolicitud" placeholer="{{ langs.solicitudForm.proyecto }}" ng-model="solicitudForm.proyecto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaSolicitud">{{ langs.solicitudForm.fecha }}</label>
                                <input type="text" class="form-control" id="fechaSolicitud" placeholer="{{ langs.solicitudForm.fecha }}" ng-model="solicitudForm.fecha" required>
                            </div>
                            <div class="form-group">
                                <label for="productosSolicitud">{{ langs.solicitudForm.productos }}</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="setFormType('producto')">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                    <select class="form-control" id="productosSolicitud" ng-options="option.id as option.nombre for option in opcionesProductos" ng-model="solicitudForm.productos" multiple required></select>
                                </div>
                            </div>
                            <div class="form-group panel panel-default" ng-show="solicitudForm.productos.length > 0">
                                <div class="panel-body">
                                    <h2>{{ langs.solicitudForm.tusProductos }}</h2>
                                    <hr>
                                    <div class="producto" ng-repeat="producto in solicitudForm.productos">
                                        <p>{{ producto.nombre }}</p>
                                        <label for="cantidadProducto">{{ langs.solicitudForm.cantidadProducto }}</label>
                                        <input type="text" class="form-control" id="cantidadProducto" required>
                                        <label for="unidadProducto">{{ langs.solicitudForm.unidadProducto }}</label>
                                        <input type="text" class="form-control" id="unidadProducto" required>
                                        <hr ng-hide="producto == productosForm">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comentarioSolicitante">{{ langs.solicitudForm.comentarioSolicitante }}</label>
                                <textarea class="form-control" id="comentarioSolicitante" placeholer="{{ langs.solicitanteForm.comentarioSolicitante }}" ng-model="solicitudForm.comentarioSolicitante" required></textarea>
                            </div>
                            <button class="btn btn-default" ng-click="submitSolicitud() && submit()" ng-disabled="!solicitudForm.$valid">
                                {{ langs.solicitudForm.submit }}
                            </button>
                        </form>
                    </div>

                    <!-- Producto form -->

                    <div id="productoForm" ng-show="formType == 'producto'">
                        <form name="productoForm">
                            {% endverbatim %}{% csrf_token %}{% verbatim %}
                            <pre ng-class="langs.productoForm.warning.css" ng-show="langs.productoForm.warning.message != ''">{{ langs.productoForm.warning.message }}</pre>
                            <div class="form-group">
                                <label for="onuProducto">{{ langs.productoForm.onu }}</label>
                                <input type="text" class="form-control" id="onuProducto" placeholer="{{ langs.productoForm.onu }}" ng-model="productoForm.onu">
                            </div>
                            <div class="form-group">
                                <label for="nombreProducto">{{ langs.productoForm.nombre }}</label>
                                <input type="text" class="form-control" id="nombreProducto" placeholer="{{ langs.productoForm.nombre }}" ng-model="productoForm.nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcionProducto">{{ langs.productoForm.descripcion }}</label>
                                <textarea class="form-control" id="descripcionProducto" placeholer="{{ langs.productoForm.descripcion }}" ng-model="productoForm.descripcion" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="referenciaProducto">{{ langs.productoForm.referencia }}</label>
                                <input type="text" class="form-control" id="referenciaProducto" placeholer="{{ langs.productoForm.referencia }}" ng-model="productoForm.referencia">
                            </div>
                            <div class="form-group">
                                <label for="tallaProducto">{{ langs.productoForm.talla }}</label>
                                <input type="text" class="form-control" id="tallaProducto" placeholer="{{ langs.productoForm.talla }}" ng-model="productoForm.talla">
                            </div>
                            <div class="form-group">
                                <label for="marcaProducto">{{ langs.productoForm.marca }}</label>
                                <input type="text" class="form-control" id="marcaProducto" placeholer="{{ langs.productoForm.marca }}" ng-model="productoForm.marca" required>
                            </div>
                            <div class="form-group">
                                <label for="unidadProducto">{{ langs.productoForm.unidad }}</label>
                                <input type="text" class="form-control" id="unidadProducto" placeholer="{{ langs.productoForm.unidad }}" ng-model="productoForm.unidad" required>
                            </div>
                            <div class="form-group">
                                <label for="familiaProducto">{{ langs.productoForm.familia }}</label>
                                <select class="form-control" id="familiaProducto" ng-options="option for option in opcionesFamilia" ng-model="productoForm.familia"></select>
                            </div>
                            <div class="form-group">
                                <label for="esServicioProducto">{{ langs.productoForm.esServicio }}</label>
                                <select class="form-control" id="esServicioProducto" ng-options="option for option in opcionesEsServicio" ng-model="productoForm.esServicio" required></select>
                            </div>
                            <div class="form-group">
                                <label for="equipoProducto">{{ langs.productoForm.equipo }}</label>
                                <select class="form-control" id="equipoProducto" ng-options="option for option in opcionesEquipo" ng-model="productoForm.equipo"></select>
                            </div>
                            <div class="form-group">
                                <label for="centroCostoProducto">{{ langs.productoForm.centroCosto }}</label>
                                <select class="form-control" id="centroCostoProducto" ng-options="option for option in opcionesCentroCosto" ng-model="productoForm.centroCosto"></select>
                            </div>
                            <div class="form-group">
                                <label for="imagenProducto">{{ langs.productoForm.imagenes }}</label>
                                <input type="file" id="imagenProducto" ng-model="productoForm.imagen">
                            </div>
                            <button class="btn btn-default" ng-click="submitProducto() && submit()" ng-disabled="!productoForm.$valid">
                                {{ langs.productoForm.submit }}
                            </button>
                        </form>
                    </div>

                    <!-- Lugar form -->

                    <div id="lugarForm" ng-show="formType == 'lugar'">
                        <form name="lugarForm">
                            {% endverbatim %}{% csrf_token %}{% verbatim %}
                            <pre ng-class="langs.lugarForm.warning.css" ng-show="langs.lugarForm.warning.message != ''">{{ langs.lugarForm.warning.message }}</pre>
                            <div class="form-group">
                                <label for="nombreLugar">{{ langs.lugarForm.nombre }}</label>
                                <input type="text" class="form-control" id="nombreLugar" placeholer="{{ langs.lugarForm.nombre }}" ng-model="lugarForm.nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="seccionLugar">{{ langs.lugarForm.seccion }}</label>
                                <input type="text" class="form-control" id="seccionLugar" placeholer="{{ langs.lugarForm.seccion }}" ng-model="lugarForm.seccion" required>
                            </div>
                            <div class="form-group">
                                <label for="numero_1Lugar">{{ langs.lugarForm.numero_1 }}</label>
                                <input type="text" class="form-control" id="numero_1Lugar" placeholer="{{ langs.lugarForm.numero_1 }}" ng-model="lugarForm.numero_1" required>
                            </div>
                            <div class="form-group">
                                <label for="numero_2Lugar">{{ langs.lugarForm.numero_2 }}</label>
                                <input type="text" class="form-control" id="numero_2Lugar" placeholer="{{ langs.lugarForm.numero_2 }}" ng-model="lugarForm.numero_2" required>
                            </div>
                            <div class="form-group">
                                <label for="numero_3Lugar">{{ langs.lugarForm.numero_3 }}</label>
                                <input type="text" class="form-control" id="numero_3Lugar" placeholer="{{ langs.lugarForm.numero_3 }}" ng-model="lugarForm.numero_3" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcionLugar">{{ langs.lugarForm.descripcion }}</label>
                                <input type="text" class="form-control" id="descripcionLugar" placeholer="{{ langs.lugarForm.descripcion }}" ng-model="lugarForm.descripcion" required>
                            </div>
                            <div class="form-group">
                                <label for="telefonoLugar">{{ langs.lugarForm.telefono }}</label>
                                <input type="text" class="form-control" id="telefonoLugar" placeholer="{{ langs.lugarForm.telefono }}" ng-model="lugarForm.telefono" required>
                            </div>
                            <button class="btn btn-default" ng-click="submitLugar() && submit()" ng-disabled="!lugarForm.$valid">
                                {{ langs.lugarForm.submit }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Separator -->
            
            <div class="row">
                <span class="col-md-3"></span>
                <hr class="col-md-6">
                <span class="col-md-3"></span>
            </div>

            <!-- Footer -->

            <div class="row" id="footer">
                <h4>
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    {{ langs.footer }}
                </h4>
            </div>
        </div>

    </div>

    <!-- Some JS scripts -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);

        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        }]);

        app.controller('MasterController', ['$scope', '$http', function($scope, $http) {
            $scope.spanish = {
                'title': 'Bienvenido solicitante',
                'banner': 'Bienvenido solicitante',
                'formPillows': {
                    'solicitud': 'Solicitud',
                    'producto': 'Producto',
                    'lugar': 'Lugar'
                },
                'solicitudForm': {
                    'lugar': 'Lugar de entrega',
                    'proyecto': 'Proyecto',
                    'fecha': 'Fecha de entrega',
                    'productos': 'Productos',
                    'tusProductos': 'Tus productos',
                    'cantidadProducto': 'Cantidad',
                    'unidadProducto': 'Unidad',
                    'comentarioSolicitante': 'Comentarios',
                    'submit': 'Crear solicitud',
                    'warning': {
                        'css': '',
                        'message': '',
                        'success': 'Solicitud creada con exito',
                        'danger': 'Revisa todos lo campos'
                    }
                },
                'productoForm': {
                    'onu': 'Codigo ONU',
                    'nombre': 'Nombre',
                    'descripcion': 'Descripcion',
                    'referencia': 'Referencia',
                    'talla': 'Talla',
                    'marca': 'Marca',
                    'unidad': 'Unidad',
                    'familia': 'Familia proveedor',
                    'esServicio': 'Tipo',
                    'equipo': 'Equipo',
                    'centroCosto': 'Centro de costo',
                    'imagenes': 'Imagenes',
                    'submit': 'Crear producto',
                    'warning': {
                        'css': '',
                        'message': '',
                        'success': 'Producto creado con exito',
                        'danger': 'Revisa todos lo campos'
                    }
                },
                'lugarForm': {
                    'seccion': 'Seccion',
                    'numero_1': '',
                    'numero_2': '#',
                    'numero_3': '-',
                    'descripcion': 'descripcion',
                    'nombre': 'nombre',
                    'telefono': 'Telefono',
                    'submit': 'Crear lugar de entrega',
                    'warning': {
                        'css': '',
                        'message': '',
                        'success': 'Lugar creado con exito',
                        'danger': 'Revisa todos lo campos'
                    }
                },
                'footer': 'Copyright 2014'
            };

            $scope.langs = $scope.spanish // Keep this always above every langs!

            $scope.formType = 'solicitud';

            $scope.solicitudForm = {};

            $scope.productoForm = {};

            $scope.lugarForm = {};

            $scope.formPillows = {
                'solicitud': 'active',
                'producto': '',
                'lugar': ''
            };

            $scope.solicitudes = [];

            $scope.opcionesLugares = [];

            $scope.opcionesProductos = [];

            $scope.opcionesFamilia = [];

            $scope.opcionesEsServicio = ['Bien', 'Servicio'];

            $scope.opcionesEquipo = [];

            $scope.opcionesCentroCosto = [];

            $http.get('solicitudes')
            .success(function(data) {
                return $scope.solicitudes = data;
            });

            $http.get('lugares')
            .success(function(data) {
                return $scope.opcionesLugares = data;
            });

            $http.get('productos')
            .success(function(data) {
                return $scope.opcionesProductos = data;
            });

            $http.get('familiasproveedores')
            .success(function(data) {
                return $scope.opcionesFamilia = data;
            });

            $http.get('equipos')
            .success(function(data) {
                return $scope.opcionesEquipo = data;
            });

            $http.get('centrosdecostos')
            .success(function(data) {
                return $scope.opcionesCentroCosto = data;
            });

            $scope.setFormType = function(type) {
                if (type == 'producto') {
                    $scope.formType = 'producto';
                    $scope.formPillows.solicitud = '';
                    $scope.formPillows.producto = 'active';
                    $scope.formPillows.lugar = '';
                } else if (type == 'lugar') {
                    $scope.formType = 'lugar';
                    $scope.formPillows.solicitud = '';
                    $scope.formPillows.producto = '';
                    $scope.formPillows.lugar = 'active';
                } else {
                    $scope.formType = 'solicitud';
                    $scope.formPillows.solicitud = 'active';
                    $scope.formPillows.producto = '';
                    $scope.formPillows.lugar = '';
                }
            };

            $scope.submitSolicitud = function() {
                $scope.solicitudForm.submit = true;
                return true;
            };

            $scope.submitProducto = function() {
                $scope.productoForm.submit = true;
                return true;
            };

            $scope.submitLugar = function() {
                $scope.lugarForm.submit = true;
                return true;
            };

            $scope.formData = function() {
                if ($scope.solicitudForm.submit) return $scope.solicitudForm;
                if ($scope.productoForm.submit) return $scope.productoForm;
                if ($scope.lugarForm.submit) return $scope.lugarForm;
                return {};
            }

            $scope.executeSuccess = function(data) {
                console.log($scope.lugarForm);
                if ($scope.solicitudForm.submit) {
                    $scope.langs.solicitudForm.warning.css = "alert alert-success"
                    $scope.langs.solicitudForm.warning.message = $scope.langs.solicitudForm.warning.success;
                    $scope.solicitudForm.id = data.id;
                    $scope.solicitudes.push($scope.solicitudForm);
                    return true;
                } else if ($scope.productoForm.submit) {
                    $scope.langs.productoForm.warning.css = "alert alert-success"
                    $scope.langs.productoForm.warning.message = $scope.langs.productoForm.warning.success;
                    $scope.productoForm.id = data.id;
                    $scope.opcionesProductos.push($scope.productoForm);
                    $scope.productoForm.productos.push($scope.productoForm);
                    return true;
                } else if ($scope.lugarForm.submit) {
                    $scope.langs.lugarForm.warning.css = "alert alert-success"
                    $scope.langs.lugarForm.warning.message = $scope.langs.lugarForm.warning.success;
                    $scope.productoForm.id = data.id;
                    $scope.opcionesLugares.push($scope.lugarForm);
                    $scope.solicitudForm.lugar = $scope.lugarForm;
                    return true;
                } else {
                    return false;
                }
            };

            $scope.executeError = function() {
                if ($scope.solicitudForm.submit) {
                    $scope.langs.solicitudForm.warning.css = "alert alert-danger";
                    $scope.langs.solicitudForm.warning.message = $scope.langs.solicitudForm.warning.danger;
                    return true;
                } else if ($scope.productoForm.submit) {
                    $scope.langs.productoForm.warning.css = "alert alert-danger";
                    $scope.langs.productoForm.warning.message = $scope.langs.productoForm.warning.danger;
                    return true;
                } else if ($scope.lugarForm.submit) {
                    $scope.langs.lugarForm.warning.css = "alert alert-danger";
                    $scope.langs.lugarForm.warning.message = $scope.langs.lugarForm.warning.danger;
                    return true;
                } else {
                    return false;
                }
            };

            $scope.submit = function() {
                var form = $scope.formData();

                $http.post('', form)
                .success(function(data) {
                    $scope.executeSuccess(data);
                })
                .error(function(data) {
                    $scope.executeError();
                });
            };
        }]);
    </script>

</body>
</html>
{% endverbatim %}