{% verbatim %}
<!doctype html>
<html ng-app="app" ng-controller="MasterController">
<head>

    <!-- Some meta headers -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compras 10.0 official website">
    <meta name="author" content="Reactive">

    <!-- Some CSS imports -->

    {% endverbatim %}
    {% load staticfiles %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "usuarios/css/index-solicitante.css" %}">

    <!-- Some JS scripts -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js"></script>
    <script src="{% static "usuarios/js/index-solicitante.js" %}"></script>
    {% verbatim %}

    <!-- The page title -->

    <title>Bienvenido solicitante</title>
</head>
<body>

    <div class="container-fluid">

        <!-- Banner -->

        <div class="row" id="banner">
            <h1>Bienvenido solicitante</h1>
        </div>

        <!-- Container -->

        <div class="container">

            <!-- Separator -->

            <div class="row">
                <span class="col-md-3"></span>
                <hr class="col-md-6">
                <span class="col-md-3"></span>
            </div>

            <!-- Main content -->

            <div class="row">

                <!-- Forms -->

                <div class="col-md-4" id="forms">

                    <!-- Form tabs -->

                    <ul id="formTabs" class="nav nav-tabs">
                        <li ng-class="form.tab == '1' ? 'active' : ''"><a ng-click="setTab('1')">Solicitud</a></li>
                        <li ng-class="form.tab == '2' ? 'active' : ''"><a ng-click="setTab('2')">Producto</a></li>
                        <li ng-class="form.tab == '3' ? 'active' : ''"><a ng-click="setTab('3')">Lugar</a></li>
                    </ul>

                    <!-- Blank line -->

                    <div class="row">
                        <br>
                    </div>

                    <!-- Change page buttons -->

                    <div id="pageButtons">
                        <button ng-click="decPage()" ng-disabled="form.page == '1'">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button ng-click="incPage()" ng-disabled="form.page == '3'">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>

                    <!-- Blank line -->

                    <div class="row">
                        <br>
                    </div>

                    <!-- Solicitud form -->

                    <div id="solicitudForm" ng-show="form.tab == '1'">
                        <form name="solicitudForm" novalidate>
                            {% endverbatim %}{% csrf_token %}{% verbatim %}

                            <!-- Messages -->

                            <pre ng-class="form.message.css" ng-show="form.message.message != ''">
                                {{ form.message.message }}                            
                            </pre>

                            <!-- First part -->

                            <div ng-show="form.page == '1'">
                                <div class="form-group">
                                    <label for="lugarSolicitud">* Lugar de entrega</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="setTab('3')">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        <select data-placeholder="Lugar de entrega" class="form-control" id="lugarSolicitud" ng-options="(lugar.nombre + ' | ' + lugar.direccion) for lugar in opciones.lugares" ng-model="form.lugar" chosen="opciones.lugares" required></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="proyectoSolicitud">* Proyecto</label>
                                    <input type="text" class="form-control" id="proyectoSolicitud" placeholer="Proyecto" ng-model="form.proyecto" required>
                                </div>
                                <div class="form-group">
                                    <label for="fechaSolicitud">* Fecha requerida</label>
                                    <input type="text" class="form-control datepicker" id="fechaSolicitud" placeholer="Fecha requerida" ng-model="form.fecha" required>
                                </div>
                            </div>

                            <!-- Second part -->

                            <div ng-show="form.page == '2'">
                                <div class="form-group">
                                    <label for="productosSolicitud">* Productos</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="setTab('2')">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                        <select data-placeholder="Productos" class="form-control" id="productosSolicitud" ng-options="producto.nombre for producto in opciones.productos" ng-model="form.productos" chosen="opciones.productos" multiple required></select>
                                    </div>
                                </div>
                                <div class="form-group panel panel-default" ng-show="form.productos.length > 0">
                                    <div class="panel-body">
                                        <h2>Tus productos</h2>
                                        <hr>
                                        <div class="producto" ng-repeat="producto in form.productos">
                                            <h4>{{ producto.nombre }}</h4>
                                            <div class="form-group">
                                                <label for="cantidadProducto">* Cantidad</label>
                                                <input type="text" class="form-control" id="cantidadProducto" placeholer="Cantidad" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="unidadProducto">* Unidad</label>
                                                <input type="text" class="form-control" id="unidadProducto" placeholer="Unidad" required>
                                            </div>
                                            <hr ng-hide="producto == form.productos[form.productos.length-1]">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Third part -->

                            <div ng-show="form.page == '3'">
                                <div class="form-group">
                                    <label for="comentarioSolicitante">Comentarios</label>
                                    <textarea class="form-control" id="comentarioSolicitante" placeholer="Comentarios" ng-model="form.comentario"></textarea>
                                </div>
                                <button class="btn btn-default" ng-click="setSubmit('1') && submit()" ng-disabled="!solicitudForm.$valid">
                                    Crear solicitud
                                </button>
                                <br>
                            </div>
                        </form>
                    </div>

                    <!-- Producto form -->

                    <div id="productoForm" ng-show="form.tab == '2'">
                        <form name="productoForm">
                            {% endverbatim %}{% csrf_token %}{% verbatim %}

                            <!-- Messages -->

                            <pre ng-class="form.message.css" ng-show="form.message.message != ''">
                                {{ form.message.message }}                            
                            </pre>

                            <!-- First part -->

                            <div ng-show="form.page == '1'">
                                <div class="form-group">
                                    <label for="nombreProducto">* Nombre</label>
                                    <input type="text" class="form-control" id="nombreProducto" placeholer="Nombre" ng-model="form.nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="descripcionProducto">* Descripcion</label>
                                    <textarea class="form-control" id="descripcionProducto" placeholer="Descripcion del producto..." ng-model="form.descripcion" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="marcaProducto">* Marca</label>
                                    <input type="text" class="form-control" id="marcaProducto" placeholer="Marca" ng-model="form.marca" required>
                                </div>
                                <div class="form-group">
                                    <label for="unidadProducto">* Unidad</label>
                                    <input type="text" class="form-control" id="unidadProducto" placeholer="Unidad" ng-model="form.unidad" required>
                                </div>
                                <div class="form-group">
                                    <label for="tipoProducto">* Tipo</label>
                                    <select data-placeholder="Tipo" class="form-control" id="tipoProducto" ng-options="tipo.nombre for tipo in opciones.tipos" ng-model="form.tipo" chosen="opciones.tipos" required></select>
                                </div>
                            </div>

                            <!-- Second part -->

                            <div ng-show="form.page == '2'">
                                <div class="form-group">
                                    <label for="onuProducto">Codigo ONU</label>
                                    <input type="text" class="form-control" id="onuProducto" placeholer="codigo ONU" ng-model="form.onu">
                                </div>
                                <div class="form-group">
                                    <label for="referenciaProducto">Referencia</label>
                                    <input type="text" class="form-control" id="referenciaProducto" placeholer="Referencia" ng-model="form.referencia">
                                </div>
                                <div class="form-group">
                                    <label for="tallaProducto">Talla</label>
                                    <input type="text" class="form-control" id="tallaProducto" placeholer="Talla" ng-model="form.talla">
                                </div>
                                <div class="form-group">
                                    <label for="familiaProducto">Familia proveedor</label>
                                    <select data-placeholder="Familia proveedor" class="form-control" id="familiaProducto" ng-options="familia.nombre for familia in opciones.familias" ng-model="form.familia" chosen="opciones.familias"></select>
                                </div>
                            </div>

                            <!-- Third part -->

                            <div ng-show="form.page == '3'">
                                <div class="form-group">
                                    <label for="equipoProducto">Equipo</label>
                                    <select data-placeholder="Equipo" class="form-control" id="equipoProducto" ng-options="equipo.nombre for equipo in opciones.equipos" ng-model="form.equipo" chosen="opciones.equipos"></select>
                                </div>
                                <div class="form-group">
                                    <label for="centroCostoProducto">Centro de costo</label>
                                    <select data-placeholder="Centro de costo" class="form-control" id="centroCostoProducto" ng-options="centro.nombre for centro in opciones.centros" ng-model="form.centro" chosen="opciones.centros"></select>
                                </div>
                                <div class="form-group">
                                    <label for="imagenProducto">Imagen</label>
                                    <input type="file" id="imagenProducto" ng-model="form.imagen">
                                </div>
                                <button class="btn btn-default" ng-click="setSubmit('2') && submit()" ng-disabled="!productoForm.$valid">
                                    Crear producto
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Lugaisr form -->

                    <div id="lugarForm" ng-show="form.tab == '3'">
                        <form name="lugarForm">
                            {% endverbatim %}{% csrf_token %}{% verbatim %}

                            <!-- Messages -->

                            <pre ng-class="form.message.css" ng-show="form.message.message != ''">
                                {{ form.message.message }}                            
                            </pre>

                            <!-- First part -->

                            <div ng-show="form.page == '1'">
                                <div class="form-group">
                                    <label for="nombreLugar">* Nombre</label>
                                    <input type="text" class="form-control" id="nombreLugar" placeholer="Nombre" ng-model="form.nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="telefonoLugar">* Telefono</label>
                                    <input type="text" class="form-control" id="telefonoLugar" placeholer="Telefono" ng-model="form.telefono" required>
                                </div>
                            </div>

                            <!-- Second part -->

                            <div ng-show="form.page == '2'">
                                <div class="form-group">
                                    <label for="seccionLugar">* Seccion</label>
                                    <input type="text" class="form-control" id="seccionLugar" placeholer="Seccion" ng-model="form.seccion" required>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" ng-show="form.seccion != null">
                                            * {{ form.seccion }}
                                        </span>
                                        <input type="text" class="form-control" id="numero1Lugar" placeholer="" ng-model="form.numero1" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">* #</span>
                                        <input type="text" class="form-control" id="numero2Lugar" placeholer="" ng-model="form.numero2" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">* -</span>
                                        <input type="text" class="form-control" id="numero3Lugar" placeholer="" ng-model="form.numero3" required>
                                    </div>
                                </div>
                            </div>

                            <!-- Third part -->

                            <div ng-show="form.page == '3'">
                                <div class="form-group">
                                    <label for="descripcionLugar">* Descripcion</label>
                                    <textarea class="form-control" id="descripcionLugar" placeholer="Descripcion del lugar..." ng-model="form.descripcion" required></textarea>
                                </div>
                                <button class="btn btn-default" ng-click="setSubmit('3') && submit()" ng-disabled="!lugarForm.$valid">
                                    Crear lugar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Solicitudes -->

                <div class="col-md-8" id="solicitudes">
                    <br>
                    <div class="panel panel-default row">
                        <div class="panel-body">
                            <h3>Nueva Solicitud (Live preview)</h3>
                            <div class="col-md-6">
                                <p>Lugar: {{ form.lugar.nombre + " | " + form.lugar.direccion }}</p>
                                <p>Proyecto: {{ form.proyecto }}</p>
                                <p>Fecha: {{ form.fecha }}</p>
                                <p>Estado: Aprobada</p>
                                <p>Comentarios:</p>
                                <p ng-show="form.comentario != null">{{ form.comentario }}</p>
                            </div>
                            <div class="col-md-6">
                                <strong>Productos:</strong>
                                <p ng-repeat="producto in form.productos">
                                    <span class="glyphicon glyphicon-record"></span>
                                    {{ producto.nombre }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default row" ng-repeat="solicitud in opciones.solicitudes">
                        <div class="panel-body">
                            <h3>Solicitud</h3>
                            <div class="col-md-6">
                                <p>Lugar: {{ solicitud.lugar }}</p>
                                <p>Proyecto: {{ solicitud.proyecto }}</p>
                                <p>Fecha: {{ solicitud.fecha }}</p>
                                <p>Estado: Aprobada</p>
                                <p>Comentarios:</p>
                                <p ng-show="solicitud.comentario != null">{{ solicitud.comentario }}</p>
                            </div>
                            <div class="col-md-6">
                                <strong>Productos:</strong>
                                <p ng-repeat="producto in solicitud.productos">
                                    <span class="glyphicon glyphicon-record"></span>
                                    {{ producto.nombre }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Separator -->
            
            <div class="row">
                <span class="col-md-3"></span>
                <hr class="col-md-6">
                <span class="col-md-3"></span>
            </div>

            <!-- Footer -->

            <div class="row" id="footer">
                <h4>
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    Copyright 2014
                </h4>
            </div>
        </div>
    </div>
</body>
</html>
{% endverbatim %}