<h2>A continuacion, ingresa tus datos para iniciar sesion</h2>
<form name="loginForm" method="post" ng-submit="loginForm.$valid" novalidate>
	{% csrf_token %}
    <div class="form-group">
        <label for="loginUser">Nombre de usuario</label>
        <input type="text" class="form-control"
        id="loginUser" placeholder="Nombre de usuario"
        maxlength="15" required ng-model="login.user">
    </div>
    <div class="form-group">
        <label for="loginPassword">Contrasena</label>
        <input type="password" class="form-control"
        id="loginPassword" placeholder="Contrasena"
        maxlength="15" required ng-model="login.password">
    </div>
    <button ng-disabled="!loginForm.$valid" class="btn btn-default">
        Ingresar ahora
    </button>
    {{ mensaje }}
</form>