{% verbatim %}
<!doctype html>
<html ng-app='app'>
<head>

	<!-- Some meta headers -->

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta name='description' content='Compras 10.0 official website'>
	<meta name='author' content='Reactive'>

	<!-- Some CSS imports -->

	{% endverbatim %}
	{% load staticfiles %}
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css'>
	<link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>

	<!-- Some JS scripts -->

	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js'></script>
	<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
	{% verbatim %}

	<!-- The page title -->

	<title>Test</title>
</head>
<body ng-controller='MainController'>

	<!-- Container -->

	<div class='container'>

		<!-- Clientes -->

		<div class='row'>
			<div class='clientes'>

				<!-- Message -->

				<div ng-class='del.css' ng-show='del.msg'>{{ del.msg }}</div>

				<!-- Clientes -->

				<h3>Clientes</h3>
				<div ng-repeat='cliente in clientes'>
					<p><strong>NIT:</strong> {{ cliente.nit }}</p>
					<p><strong>Razon:</strong> {{ cliente.razon }}</p>
					<p><strong>Sigla:</strong> {{ cliente.sigla }}</p>
					<p><strong>Verificacion:</strong> {{ cliente.verificacion }}</p>
					<button class='btn btn-default' ng-click='delete(cliente)'>Eliminar cliente</button>
					<hr ng-hide='cliente == clientes[clientes.length-1]'>
				</div>
			</div>
		</div>

		<!-- Separator -->

		<div class='row'><hr></div>

		<!-- Create -->

		<div class='row'>
			<div class='create'>

				<!-- Message -->

				<div ng-class='create.css' ng-show='create.msg'>{{ create.msg }}</div>

				<!-- Form -->

				<h3>Crear cliente</h3>
				<form>
					<div class='form-group'>
						<input class='form-control' ng-model='new.nit' placeholder='NIT'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='new.razon' placeholder='Razon'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='new.sigla' placeholder='Sigla'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='new.verificacion' placeholder='Verificacion'>
					</div>

					<button class='btn btn-default' ng-click='create()'>Crear</button>
				</form>
			</div>
		</div>

		<!-- Separator -->

		<div class='row'><hr></div>

		<!-- Preview -->

		<div class='row'>
			<div class='preview'>
				<h3>Preview</h3>
				<p><strong>NIT:</strong> {{ new.nit }}</p>
				<p><strong>Razon:</strong> {{ new.razon }}</p>
				<p><strong>Sigla:</strong> {{ new.sigla }}</p>
				<p><strong>Verificacion:</strong> {{ new.verificacion }}</p>
			</div>
		</div>

		<!-- Separator -->

		<div class='row'><hr></div>

		<!-- Update -->

		<div class='row'>
			<div class='update'>

				<!-- Message -->

				<div ng-class='update.css' ng-show='update.msg'>{{ update.msg }}</div>

				<!-- Form -->

				<h3>Update</h3>
				<form>
					<div class='form-group'>
						<select class='form-control' ng-model='update.original' ng-options='cliente.razon for cliente in clientes' ng-change='copy()'></select>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='update.copy.nit' placeholder='NIT'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='update.copy.razon' placeholder='Razon'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='update.copy.sigla' placeholder='Sigla'>
					</div>

					<div class='form-group'>
						<input class='form-control' ng-model='update.copy.verificacion' placeholder='Verificacion'>
					</div>

					<button class='btn btn-default' ng-click='update()'>Actualizar</button>
				</form>
			</div>
		</div>
	</div>

	<!-- JS script -->

	<script>
		angular.module("app", [])
		.controller("MainController", ["$scope", "$http", function($scope, $http) {
			$scope.clientes = [];

			$http({
				method: "GET",
				url: "/api/v1/cliente/",
				content_type: "application/json"
			})
			.success(function(data) {
				$scope.clientes = data.objects;
			})
			.error(function() {
				// EMPTY
			});

			$scope.del = {};

			$scope.delete = function(cliente) {
				$http({
					method: "DELETE",
					url: "/api/v1/cliente/" + cliente.id + "/",
					content_type: "application/json"
				})
				.success(function(data) {
					$scope.clientes.splice($scope.clientes.indexOf(cliente), 1);
					$scope.del.css = "alert alert-success";
					$scope.del.msg = "Cliente eliminado con exito";
				})
				.error(function(data) {
					console.log(data);
					$scope.del.css = "alert alert-danger";
					$scope.del.msg = "Ocurrio un error.";
				});
			};

			$scope.msg = {};

			$scope.new = {};

			$scope.create = function() {
				$http({
					method: "POST",
					url: "/api/v1/cliente/",
					data: $scope.new,
					content_type: "application/json"
				})
				.success(function(data) {
					$scope.clientes.push($scope.new);
					$scope.create.css = "alert alert-success";
					$scope.create.msg = "Cliente creado con exito.";
				})
				.error(function(data) {
					console.log(data);
					$scope.create.css = "alert alert-danger";
					$scope.create.msg = "Ocurrio un error.";
				});
			};

			$scope.update = {};

			$scope.copy = function() {
				$scope.update.copy = jQuery.extend(true, {}, $scope.update.original);
			};

			$scope.check = function(original, copy) {
				var ans = {};
				for (var key in original) {
					if (original.hasOwnProperty(key) && copy.hasOwnProperty(key)) {
						console.log(key);
						if (original[key] != copy[key]) {
							console.log(key, "YEADYADYAD");
							ans[key] = copy[key];
						}
					}
				}
				return ans;
			};

			$scope.update = function() {
				var checked = $scope.check($scope.update.original, $scope.update.copy);
				$http({
					method: "PATCH",
					url: "/api/v1/cliente/" + $scope.update.original.id + "/",
					data: checked,
					content_type: "application/json"
				})
				.success(function(data) {
					$scope.clientes.splice($scope.clientes.indexOf($scope.update.original), 1, $scope.update.copy);
					$scope.update.original = $scope.update.copy;
					$scope.update.css = "alert alert-success";
					$scope.update.msg = "Cliente actualizado con exito.";
				})
				.error(function(data) {
					console.log(data);
					console.log(checked);
					$scope.update.css = "alert alert-danger";
					$scope.update.msg = "Ocurrio un error";
				});
			};
		}]);
	</script>
</body>
</html>
{% endverbatim %}