<form method="post" class="form-signin">
    {% csrf_token %}
    {{ solicitud_form }}
    <div id="link_nuevo_lugar">
        <a href="#" id="onclick_nuevo_lugar">Crear nuevo lugar de entrega</a>
    </div>
    <div id="link_nuevo_producto">
        <a href="#" id="onclick_nuevo_producto">Crear nuevo producto</a>
    </div>
    <button class="btn btn-large btn-primary" type="submit">Crear solicitud</button>
</form>

<div id="nuevo_producto">{% include "productos/crear_producto.html" %}</div>
<div id="nuevo_lugar">{% include "lugares/crear_lugar.html" %}</div>