<div class="solicitud">
    <h2>Solicitud #{{ solicitud.id }}</h2>
    <p>Lugar: {{ solicitud.lugar_entrega }}</p>
    <p>Fecha creacion: {{ solicitud.fecha_creacion }}</p>
    <p>Fecha requerida: {{ solicitud.fecha_requerida }}</p>
    <p>Centro de costo: {{ solicitud.centro_de_costo }}</p>
    <p>Equipo: {{ solicitud.equipo }}</p>
    <p>Proyecto: {{ solicitud.proyecto }}</p>
    <p>Consolidador: {{ solicitud.consolidador }}</p>
    <p>Solicitante: {{ solicitud.solicitante }}</p>
    {% if solicitud.estado == '1' %}
    <p class="btn btn_estado{{ solicitud.estado }}">Estado: En revision</p>
    {% elif solicitud.estado == '2' %}
    <p class="btn btn_estado{{ solicitud.estado }}">Estado: Rechazada</p>
    {% elif solicitud.estado == '3' %}
    <p class="btn btn_estado{{ solicitud.estado }}">Estado: Aprobada</p>
    {% elif solicitud.estado == '4' %}
    <p class="btn btn_estado{{ solicitud.estado }}">Estado: Cotizada</p>
    {% endif %}
    <hr>
</div>