{% verbatim %}
<h2>Tus solicitudes</h2>
<hr>
<div class="col-md-6" ng-repeat="solicitud in solicitanteCtrl.solicitudes">
    <p>{{ solicitud.estado }}</p>
    <p>{{ solicitud.lugar_entrega }}</p>
    <p>{{ solicitud.fecha_creacion }}</p>
    <p>{{ solicitud.fecha_requerida }}</p>
    <p>{{ solicitud.solicitante }}</p>
    <p>{{ solicitud.consolidador }}</p>
    <p>{{ solicitud.aprobador }}</p>
    <p>{{ solicitud.centro_de_costo }}</p>
    <p>{{ solicitud.equipo }}</p>
    <p>{{ solicitud.proyecto }}</p>
    <p ng-repeat="producto in solicitud.productos">{{ producto }}</p>
</div>
{% endverbatim %}